@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-surface text-charcoal min-h-screen font-sans;
  }
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #f0eded;
}
::-webkit-scrollbar-thumb {
  background: #c3c8c1;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #1b3022;
}
